body{
	background-color: bisque;
	}


a{
    color: saddlebrown;
}
a:hover{
	color: brown;
	text-decoration:none;
}

.navbar {
    background-color: saddlebrown;

}

.navbar .navbar-brand{
    border-right: 2px solid sandybrown;
    color: sandybrown;
    font-size: x-large;
    margin-right: 10px;
    padding-right: 20px;
}

.navbar .navbar-brand:hover {
    color: sandybrown;
}


/*when text in header is active (from js script)*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: brown;
    background-color: burlywood;
}

.navbar-inverse .navbar-nav > li > a {
    color: burlywood;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: lightgoldenrodyellow;
}

.navbar-inverse {
    border-color:saddlebrown;
}
	
/*when dropdown is selected*/
.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   background-color: rgb(202, 164, 115);
   color:brown;
}	


.navbar-inverse .navbar-toggle{
    color: blue;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: none;
}

.navbar-inverse .navbar-toggle {
    border-color: bisque;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: bisque;
}

.footer-text-size {
    font-size: 25px;
}

.col-md-2 .btn {
    margin: 5px;
}

.container-centre {
    width: 100%;
    text-align: center;
}
#body-block {
    margin-top: 50px;
}