body{
	background-color: bisque;
	}
	
.body-block{
	margin-top:50px;
	}

a{
    color: saddlebrown;
}
a:hover{
        color: brown;
        text-decoration:none;
}

.navbar {
    background-color: saddlebrown;
}

.navbar .navbar-brand{
    color:sandybrown;
    font-size:x-large;
    border-color:black;
}

.navbar .navbar-brand:hover {
    color: sandybrown;
}


/*when text in header is active*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: brown;
    background-color: burlywood;
}

.navbar-inverse .navbar-nav > li > a {
    color: burlywood;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: lightgoldenrodyellow;
}

.navbar-inverse {
    border-color:saddlebrown;
}
	


