.trending {
    font-size: 30pt;
    left: 10%;
    position: fixed;
    margin-top: 30pt;
}

.dividing-line{
    border-left: 4px solid black;
    height: 1000px;
    position: fixed;
    left: 30%;
    top:0;
}

#sort-btn{
    position: fixed;
    left: 32%;
    margin-top: 30pt;
}

.no-cats{
    font-size: 20pt;
    position: fixed;
    margin-top: 100pt;
    left: 4.5%;
}

.no-chocs {
    font-size: 20pt;
    position: fixed;
    margin-top: 100pt;
    left: 50%;
}
