<! DOCTYPE html>
{% load staticfiles %}
<html>
	<head lang="en">	
		<meta charset="UTF-8"/>
		<title>
			Chocorate - 
			{% block title_block %}
				The chocolate rating website
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="/static/css/base.css" >
	</head>
	<body>
		<div class="header">
		<headerElement id="siteName"> Chocorate</headerElement>
		<headerElement><a href="{% url 'home' %}" class="home" >Home</a></headerElement>
		<headerElement><a href="{% url 'categories' %}" class="categories" >Categories</a></headerElement>
		<div class="profile-dropdown">
			<headerElement><a href="{% url 'profile' %}" class="profile" >Profile</a></headerElement>
			<div class="profile-options">
				<a href="{% url 'settings' %}">Settings</a>
				<a href="{% url 'signUpIn' %}">SignUpIn</a>
				<a href="{% url 'addPost' %}">Add a Post</a>
				<a href="{% url 'myPost' %}">Your post</a>
			</div>
		</div>
		<headerElement><a href="{% url 'about' %}" class="about" >About</a></headerElement>
		</div>
		
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		<div>
		
		</div>
	</body>
</html>

