{% extends 'chocorate/base.html' %}


{% block title_block %}
    Categories
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-sm-6 text-center" style="font-size: 10pt; border-right: 1px solid #fff;">
        <h2 class="w3-sandybrown">Categories</h2>

    </div>
    <div class="col-sm-6 text-center" style="font-size:10pt;">
        {% for cat in categories %}
        <ul>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'about' %}"> {{ cat.0 }}
                    <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    {% for el in cat %}
                        {% if el != cat.0 %}
                         <li><a href="{% url 'home' %}"> {{ el }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>


{% endblock %}
