{% extends 'chocorate/base.html' %}

{% block title_block %}
	Welcome to New Home
{% endblock %}

{% block css-link %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="trending col-sm-3 text-center" id="trending">
        <h2>Trending</h2>
        <div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                <li>
                    <a href="{% url 'home' %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong class="no-cats"> There are no categories present. </strong>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-9 text-center">
        <button type="button" class="btn btn-default pull-left" id="sort-btn">Sort alphabetically</button>
        <div class="items">
            {% if chocolates %}
            <ul>
                {% for chocolate in chocolates %}
                <li>
                    <div class="choc-title">
                        chocolate.name
                    </div>
                    <img src=chocolate.image-url alt=chocolate.picture-alt />
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Comments
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if chocolate.comments %}
                        {% for comment in chocolate.comments %}
                        <li>
                            {{comment.message}}
                        </li>
                        {% endfor %}
                        {% else %}
                        <strong class="no-comms"> No-one has commented yet </strong>
                        {% endif %}
                    </ul>
                </li>
                <button type="button" class="btn btn-default" id="comm-btn">Add comment</button>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong class="no-chocs"> There are no chocolates present. </strong>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}