{% extends 'chocorate/base.html' %}

{% block title_block %}
	Welcome to New Home
{% endblock %}

{% block css-link %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-sm-3 text-center" style="font-size: 10pt;margin-top: 30pt; border-right: 1px solid #fff;">
        <h2 class="w3-sandybrown">Trending</h2>
        <div class="w3-container w3-sandybrown w3-hover-text-white">
            {% if chocolates5 %}
            <ul class="list-unstyled">
                {% for chocolate in chocolates5 %}
                <li>
                    <a href="{% url 'home' %}">{{ chocolate.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong style="font-size: 10pt;margin-top: 200pt;"> There are no chocolates present. </strong>
            {% endif %}
            <button type="button" class="btn btn-default" style="border-top:1pt;background-color:saddlebrown;">Sort alphabetically</button>
        </div>
    </div>
    <div class="col-sm-9 text-center" >
        <div class="items">
            {% if chocolates %}
            <ul class="list-unstyled">
                {% for chocolate in chocolates %}
                <li>
                    <div class="choc-title">
                        {{chocolate.name}}
                    </div><!--"/static/images/team.jpg"-->
                    <img src={{chocolate.picture_url}} class="img-rounded img-responsive" alt={{chocolate.picture_alt}} />
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Comments
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if chocolate.comments %}
                            {% for comment in chocolate.comments %}
                            <li>
                                {{comment.message}}
                            </li>
                            {% endfor %}
                        {% else %}
                        <strong class="no-comms"> No-one has commented yet </strong>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <button type="button" class="btn btn-default comm-btn" >Add comment</button>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong style="font-size: 10pt;margin-top: 300pt;"> There are no chocolates present. </strong>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/Bootstrap/js/jquery.min.js"></script>	


{% endblock %}

{% block js-link %}		
	<script src="/static/js/home.js"></script>
{% endblock %}