{% extends 'chocorate/base.html' %}

{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}


    {% if user.is_authenticated %}
            <div class="row">
                <div class="col-sm-3 text-center" style="font-size: 10pt;margin-top: 30pt; border-right: 1px solid #fff;">
                    <h2>Hi {{user.username}} ! </h2><br>
			        <a href="{% url 'changePassword' %}">Change Password</a><br>
                    <a href="{% url 'updateProfile' %}">Update Profile</a><br>
			        <a href="{% url 'addPost' %}">Add a Post</a><br>
			        <a href="{% url 'myPost' %}">Your post</a><br>
                    <a href="{% url 'signOut' %}">Logout</a><br>
                </div>
            </div>
    {% else %}
            <h2>Hi, login or sign up here :)</h2>
            <a href="{% url 'signUp' %}">SignUpIn</a><br>
            <<a href="{% url 'login' %}">login</a><br>
    {% endif %}


{% endblock %}