{% extends 'chocorate/base.html' %}

{% block title_block %}
	Settings
{% endblock %}

{% block body_block %}
	<div class="page-header">
			<h2 class="text-center"> Change Password</h2>
    </div>

    <div class="codntainer" style="text-align:left;">

    {% if form %}
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"> Submit </button>
        </form>
    {% else %}
        {{ message }}
    {% endif %}
    </div>
{% endblock %}