{% extends 'chocorate/base.html' %}

{% block title_block %}
	SignUpIn
{% endblock %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/signUpIn.css">
{% endblock %}

{% block body_block %}
	<div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sign Up
                </div>
                <div>
                    <form id="category_form" method="post" action="{% url 'signUpIn' %}">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}                     
                        <div class="panel-body">
                            <div class="panel-body" id="username">
                                <div class="panel panel-default">
                                    Username
                                </div>
                                <div class="panel-body" id="password">
                                    <div class="panel panel-default">
                                        Password
                                    </div>
                                </div>
                            </div>
                            {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                            {% endfor %}
                            <input type="submit" name="submit" value="Sign Up" />
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sign In</div>
                <div class="panel-body">
                    <div class="panel-body" id="username">
                        <div class="panel panel-default">
                            Username
                        </div>
                        <div class="panel-body" id="password">
                            <div class="panel panel-default">
                                Password
                            </div>
                        </div>
                        <div class="panel-body" id="sign-up">
                            <div class="panel panel-default">
                                Sign In
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}