{% extends 'chocorate/base.html' %}

{% block title_block %}
	SignUpIn
{% endblock %}

{% block css-link %}
<link rel="stylesheet" type="text/css" href="/static/css/signUpIn.css">
{% endblock %}

{% block body_block %}

            <div class="panel panel-default" style="text-align:center;width:50%">
                <div class="panel-heading">
                    <h4>Sign Up</h4>
                </div>
                <div>
                    <form id="category_form" method="post" action="{% url 'signUp' %}">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}                     
                        <div class="panel-body">
                                {% for field in form.visible_fields %}
                                {{ field.errors }}
                                {{ field.help_text }}
                                {{ field }}
                                {% endfor %}
                            <input type="submit" name="submit" value="Sign Up">
                        </div>
                    </form>
                </div>
            </div>


{% endblock %}